body {
  max-width: 100vw;
  margin: 0px;
  background-color: #f7f7f5;
  color: #26251f;
}

h1,
h2,
h3,
a {
  font-family: "Work Sans", Arial, sans-serif;
  color: #26251f;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.small-title {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 0.9375rem;
}

:is(main, section, header) a {
  transition: 0.3s;
}

:is(main, section, header) a:hover {
  color: #ffc607;
}

@media (max-width: 900px) {
  :is(main, section, header) a{
    padding: 1rem;
  }

  .contact .small-title {
    padding-bottom: 0px;
  }
}