.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.75rem 5rem;
  padding-bottom: 5.625rem;
  max-width: 1600px;
}

.header h1 {
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 7.5rem;
}

.header-menu {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 0.9375rem;
}

.menu-mobile {
  display: none;
}

.header-menu a {
  font-size: 1.125rem;
}

@media (max-width: 1200px) {
  .header h1 {
    font-size: 6rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    padding: 1.875rem;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .form-study {
    text-align: center;
  }
}

@media (max-width: 660px) {
  .form-study h1 {
    font-size: 4.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 600px) {
  .header {
    max-width: 100vw;
    padding: 1rem;
    gap: 0.9rem;
  }

  .header h1 {
    font-size: 4.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 500px) {
  .header {
    max-width: 100vw;
    padding: 1rem;
    gap: 0.4rem;
  }

  .header h1 {
    font-size: 3.3rem;
    line-height: 2.5rem;
  }

  .header-menu a {
    padding: 0.75rem;
  }

  .header-menu {
    display: none;
  }

  .form-study .header-menu {
    display: flex;
  }

  .form-study .header-menu a {
    padding: 1rem;
    font-size: 0.85rem;
  }

  .menu-mobile {
    display: flex;
  }

  .menu-mobile a{
    padding: 1rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 360px) {
  .form-study h1 {
    font-size: 2.8rem;
    line-height: 2.3rem;
  }
}