.info {
  display: flex;
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 1600px;
  justify-content: end;
  margin-bottom: 3.75rem;
}

.info h2 {
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 7.5rem;
}

@media (max-width: 1200px) {
  .info h2 {
    font-size: 6rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 900px) {
  .info {
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .info h2 {
    justify-self: center;
    max-width: 6ch;
  }
}

@media (max-width: 600px) {
  .info h2 {
    font-size: 4.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 500px) {
  .info h2 {
    font-size: 3.3rem;
    line-height: 2.5rem;
  }
}
