.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 1600px;
  margin-bottom: 5.625rem;
}

.intro p {
  max-width: 34ch;
}

.intro img {
  max-width: 100%;
  padding-top: 5.625rem;
}

.form .intro {
  margin-bottom: 0px;
}

@media (max-width: 900px) {
  .intro {
    justify-content: center;
    text-align: center;
    margin-bottom: 3.75rem;
    margin-top: 1.875rem;
  }

  .intro p {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .intro img {
    padding-top: 3.75rem;
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 0 2rem;
  }
  
  .intro p {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .intro {
    text-align: left;
  }
}