.projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3.75rem 5rem;
  padding-top: 11.25rem;
  max-width: 1600px;
}

.projects h2 {
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 7.5rem;
  padding-bottom: 5.625rem;
}

.projects-p {
  max-width: 34ch;
  padding-bottom: 5.625rem;
}

.image {
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
}

.projects-info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 1.875rem;
}

.paragraph {
  max-width: 34ch;
}

/* medias */

@media (max-width: 1200px) {
  .projects h2 {
    font-size: 6rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 900px) {
  .projects {
    align-items: center;
    padding-top: 7.5rem;
    padding-bottom: 0;
  }

  .projects h2 {
    padding-bottom: 3.75rem;
  }

  .projects-p {
    text-align: center;
    padding-bottom: 3.75rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .image,
  .paragraph,
  .projects-form {
    grid-column: 1 / -1;
  }

  .projects-info h3, p {
    padding-left: 1rem;
  }
}

@media (max-width: 820px) {
  .projects {
    padding-top: 0px;
  }

  .projects h2 {
    padding-top: 3.75rem;
  }
}

@media (max-width: 600px) {
  .projects h2 {
    font-size: 4.5rem;
    line-height: 3.5rem;
    padding-bottom: 1.875rem;
    padding-top: 3.75rem;
  }
}

@media (max-width: 500px) {
  .projects h2 {
    font-size: 3.3rem;
    line-height: 2.5rem;
  }

  .projects p {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .projects {
    padding: 0 2rem;
  }

  .projects p {
    text-align: left;
  }
}
